# All files not owned by other teams must be reviewed by the core team
*                                               @biryanihouse/core 
package.json                                    @biryanihouse/engineering
yarn.lock                                       @biryanihouse/engineering
/.changeset/                                    @biryanihouse/engineering
/packages/                                      @biryanihouse/engineering
/integration-tests/                             @biryanihouse/engineering
/docs-util/                                     @biryanihouse/docs
/www/                                           @biryanihouse/docs
/packages/design-system/                        @biryanihouse/ui
